.parallaxSection {
  flex-direction: column;
  background-image: url('/headMain.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  gap: 20px;
  color: #fff;
}

.parallaxSectionText {
  font-family: 'Secular One', sans-serif;
  font-size: 205px;
  font-weight: 400;
}

.parallaxSectionTextSubtitle {
  color: rgba(255, 255, 255, 0.2);
}

.subText {
  text-align: left;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2); /* Цвет и прозрачность фона */
  padding: 10px 20px; /* Отступы вокруг текста */
  border-radius: 10px; /* Закругленные углы */
}

.heroBtn {
  background-color: #1DF659;
  padding: 22px 30px;
  color: #00181C;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.96px;
  transition: background-color 0.3s ease; /* Добавляем плавный переход для цвета фона */
}

/* Добавляем эффект hover */
.heroBtn:hover {
  background-color: #1AAE46; /* Изменяем цвет при наведении */
}
